@import "reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 5rem;
  --header-height: 2rem;
  --bg-color: rgb(247, 249, 252);
  --main-margin: 0.5rem;
  --safe-area-height: 1.5rem;
  --window-control-height: 1.5px;
}

@layer components {
  .scrollbar {
    @apply overflow-y-auto overflow-hidden m-[--main-margin];
    @apply [&::-webkit-scrollbar-thumb]:bg-transparent [&:hover::-webkit-scrollbar-thumb]:bg-[#bcbcbc];
  }

  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-button {
    background-color: transparent;
    height: var(--main-margin);
    @apply [&:vertical:decrement]:h-[0] [&:vertical:increment]:h-[calc(var(--footer-height)+var(--main-margin))];
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    margin-right: 2px;
    @apply [&:hover]:bg-[#a0a0a0];
  }

  .main-height {
    height: calc(100% - var(--header-height) - var(--safe-area-height) * 2);
  }

  .padding-footer {
    padding-bottom: var(--footer-height);
  }

  .electron-drag {
    -webkit-app-region: drag;
  }
}
