@import 'reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--footerHeight: 5rem;
	--headerHeight: 4.5rem;
	--bgColor: rgb(247, 249, 252);
	--panelMargin: 0.5rem;
}

@layer components {
	.scrollbar {
		@apply [&:hover]:overflow-y-auto overflow-hidden;
	}

	.scrollbar::-webkit-scrollbar {
		width: 4px;
	}

	.scrollbar::-webkit-scrollbar-button {
		background-color: transparent;
		height: var(--panelMargin);
	}

	.scrollbar::-webkit-scrollbar-button:vertical:increment {
		/* background-color: black; */
		height: calc(var(--footerHeight) + var(--panelMargin));
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #bcbcbc;
		border-radius: 5px;
		margin-right: 2px;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #a0a0a0;
	}

	.bm-panel {
		@apply m-[--panelMargin] mt-0 h-[calc(100%-var(--headerHeight))] pb-[--footerHeight] scrollbar;
	}
}
